

body {
    background-color: #f8f9fa !important;
}

.bg-cover {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.hover-animate {
    transition: all 0.2s ease-in-out;
}
.hover-animate:hover, .hover-animate:focus {
    -webkit-transform: translate3d(0, -2px, 5px);
    transform: translate3d(0, -2px, 5px);
}
.light-overlay, .dark-overlay, .gradient-overlay {
    position: relative;
    overflow: hidden;
}

.z-index-20 {
    z-index: 20;
}

.card-img-overlay-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding-right: 15px;
    padding-left: 15px;
    background: rgba(0,0,0,.5);
}

.card-img-overlay-top {
    position: absolute;
    top: .75rem;
    right: 1.25rem;
    left: 1.25rem;
}

.z-index-40 {
    z-index: 40;
}

.card-fav-icon {
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    text-align: center;
    opacity: 0.5;
    color: #fff;
    border-radius: 50%;
    background: #343a40;
    line-height: 2.5rem;
}

.badge-transparent {
    color: #212529;
    background: rgba(248,249,250,0.9);
}

.tile-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 30;
}
.text-xs {
    font-size: .7rem;
}
