@import url('https://fonts.googleapis.com/css?family=Bebas+Neue|Poppins&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas Neue', sans-serif;
}

.btn {
    font-family: 'Bebas Neue', sans-serif;
    letter-spacing: .2em;
    text-transform: uppercase;
}

.vh-100 {
    min-height: 100vh;
}
